/*external*/
body {
    padding-bottom: 500px;
}
h3 {
    color: green;
}
p {
    color: blue;
}

/*algum comentario*/
/*outro comentario*/

/*classes*/
.parag {
    background-color: black;
    color: aqua;
}

/*ids*/
#title-exclusive {
    background-color: purple;
    color: orangered;
}

/*ordem das regras*/
h2{
    border-bottom: 2px solid red;
}
.titulo{
    border-bottom: 3px solid blue;
}

#algumtitulo {
    border-bottom: 4px solid green;
}

/*nome de cores*/
.color-name{
    color: rgb(177, 52, 52);
}

/*hex*/
.hex{
    color: #ff2244;
}

/*forma simplificada do hex*/
.simpleshex {
    color: #7d3;
}

/*rgb*/
.rgb{
    color: rgb(19, 146, 146);
}
.mixed-rgb{
    color: rgb(199,34,232);
}

/*rgba*/
.rgba{
    color: rgba(100,0,34,0.5)
}

/*hsl*/
.hsl{
    color: hsl(100,20%,34%);
}

/*background color*/
.bg{
    background-color: #000;
    color: #fff;
}
.bg-2{
    background-color: #678;
    color: #298567;
}

/*background opacity*/
.bg-opac{
    background-color: green;
    opacity: 0.2;
}

/*rgba com opacidade*/
.rgba-opac{
    background-color: rgba(240,145,67,0.1);
    color: #001;
}

/*imagem com background*/
.bg-image{
    background-image: url(../img/city.gif);
    padding: 100px;
    color: #fff;
}

/*centralizar bg imAGE*/
.nocenter, .center{
    height: 400px;
    width: 400px;
    background-image: url(../img/city.jpg);
}
.center{
    background-position: center;
    background-size: cover;
}

/*largura e altura*/
.hw{
    height: 100px;
    width: 100px;
    background-color: #000;
}
.hw2{
    height: 300px;
    background-color: #678;
}

/*padding*/
.nopad, .pad{
    background-color: #002;
    color: #fff;
}
.pad{
    background-color: #003;
    padding: 20px;

}

/*padding individual*/
.pindividual{
    background-color: #003;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/*shorthands padding*/
.shorthand-padding{
    background-color: #001;
    padding: 6px 12px 18px 24px;
}
.shorthand-padding-2{
    background-color: #001;
    padding: 6px 12px;
}

/*padding com width*/
.sem-border-box{
    background-color: aqua;
    color: #fff;
    width: 400px;
    padding: 50px;
}
.border-box{
    background-color: rgb(19, 109, 109);
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/*border*/
.border{
    border: 5px solid red;
    padding: 10px;
}
.border2{
    border: 2px dotted #002;
    padding: 10px;
}

/*borda individual*/
.border-left{
    border-left: 3px solid red;
    background-color: #298567;
    padding: 25px;
}
.border-bottom{
    border-bottom: 5px double rgb(199,34,232);
    background-color: rgb(177, 52, 52);
    padding: 20px;

}

/*border-radius*/
.rounded-p{
    border: 4px solid blue;
    background-color: #7d3;
    color: aliceblue;
    padding: 15px;
    border-radius: 15px;

}
.rounded-p2{
    background-color: #7d3;
    color: aliceblue;
    padding: 15px;
    border-radius: 25px;

}

/*margin*/
.margin{
    margin: 10px;
    background-color: rgb(83, 83, 226);
}
.margin-top{
    margin-top: 50px;
    background-color: antiquewhite;
    padding: 10px;
}
.margin-shorthand{
    background-color: #678;
    margin: 5px 10px 15px 20px;
}

/*box-model*/
.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #003;
    border-radius: 7px;
    width: 200px;
    height: 100px;
}

/*text aligment*/
.text-aligment{
    text-align: right;
}
.container-center{
    text-align: center;
    width: 300px;
    border: 1px solid #002;
}

/*text decoration*/
.underline{
    text-decoration: underline;
}
.line-trough{
    text-decoration: line-through;
}
.remove-underline{
    text-decoration: none;
    color: red;
}

/*text transform*/
.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}

/*letter spacing*/
.spacing{
    letter-spacing: 5px;
}

/*fontes*/
.serif{
    font-family: Georgia;
}
.sans-serif{
    font-family: Helvetica;
}
.monospace{
    font-style: "Courier New";
}
.cursive{
    font-family: cursive;
}
.fantasy{
    font-family: fantasy;
}

/*estilos das fontes*/
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}

/*font height*/
.thin, .bold, .bolder{
    font-family: helvetica;
}
.thin{
    font-weight: 100;
}
.bold{
    font-weight: 600;
}
.bolder{
    font-weight: 900;
}

/*font size*/
.small{
    font-size: 6px;
}
.big{
    font-size: 75px;
}

/*dsiplay*/
.inline-box{
    width: 50px;
    height: 50px;
    background-color: #ff2244;
    margin: 10px;
    display: inline-block;
}
.block{
    background-color: #002;
    display: block;
    margin: 10px;
}

/*esconder elementos*/
.invisible{
    display: none;
}

/*positions-static*/
.static{
    position: static;
    background-color: #7d3;
    color: #fff;
    height: 100px;
    width: 100px;
}

/*relative*/
.relative{
    position: relative;
    background-color: #582;
    color: #fff;
    height: 100px;
    width: 100px;
    top: 100px;
    left: 40px;
}

/*absolute*/
.absolute{
    position: absolute;
    background-color: #7d3;
    color: #fff;
    height: 100px;
    width: 100px;
    top: 2px;
    right: 2px;
}