/*external*/
body {
    padding-bottom: 500px;
}
h3 {
    color: green;
}
p {
    color: blue;
}

/*algum comentario*/
/*outro comentario*/

/*classes*/
.parag {
    background-color: black;
    color: aqua;
}

/*ids*/
#title-exclusive {
    background-color: purple;
    color: orangered;
}