body{
    background-color: #001;
}
#div{
    height: 50px;
    width: 100px;
    background-color: azure;
    margin: 300px;
    padding: 20px;
    border: 10px solid #111;
    border-radius: 10px;
    outline: 10px solid rgb(219, 97, 16);
}
.texto{
    height: 50px;
    width: 100px;
    background-color: aqua;
    
}